*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
}

header{
    background-image: url(../imagenes/fondo.png) ;
}

h1{
    color: #d97336;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

h2{
    font-weight: 400;
    text-align: center;
}
p{
    text-align: justify;
    font-weight: 200;
}

.encabezado{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.encabezado__imagen{
    width: 500px;
    margin: 1rem;
}

.encabezado--texto{
    align-items: center;
    margin-left: 3rem;
    background-color: aqua;
}

.titulos{
    /* background-color: blueviolet; */
    text-align: center;
    margin: 3rem;
}

menu{
    /* background-color: blue; */
   padding: 2rem;    
}

main{
    /* background-color: blueviolet; */
    padding: 1rem;  
}

.cuerpoinicio{
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.video{
    width: 700px;
}

.texto{
    margin-left: 6rem;
    text-align: center;
    margin-left: 5rem;
}
.productoslogos{
    /* background-color: aqua; */
    width: 80%;
    height: 80%;
    margin: 3px;
}

.grid{
    border: 1px solid black;
    padding: 1rem;
    margin: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,100 px);
    grid-area: 
    "marca1 marca2 marca3"
    "marca4 marca5 marca6"
    "marca7 marca8 marca9";
    justify-content: center;
    gap: 1em;
}

.grid__hijo--1{
    grid-area: marca1;
}
.grid__hijo--2{
    grid-area: marca2;
}
.grid__hijo--3{
    grid-area: marca3;
}
.grid__hijo--4{
    grid-area: marca4;
}
.grid__hijo--5{
    grid-area: marca5;
}
.grid__hijo--6{
    grid-area: marca6;
}
.grid__hijo--7{
    grid-area: marca7;
}
.grid__hijo--8{
    grid-area: marca8;
}
.grid__hijo--9{
    grid-area: marca9;
}

.marca-secundaria{
    border: 1px solid black;
    padding: 1rem;
    margin: 3rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,100 px);
    grid-area: 
    "logo1 logo2 logo3 logo4"
    "logo5 logo6 logo7 logo8"
    "logo9 logo10 logo11 logo12";
    justify-content: center;
    gap: 1em;
}

.marca__hijo--1{
    grid-area: logo1;
    align-items: center;
}
.marca__hijo--2{
    grid-area: logo2;
}
.marca__hijo--3{
    grid-area: logo3;
}
.marca__hijo--4{
    grid-area: logo4;
}
.marca__hijo--5{
    grid-area: logo5;
}
.marca__hijo--6{
    grid-area: logo6;
}
.marca__hijo--7{
    grid-area: logo7;
}
.marca__hijo--8{
    grid-area: logo8;
}
.marca__hijo--9{
    grid-area: logo9;
}
.marca__hijo--10{
    grid-area: logo10;
}
.marca__hijo--11{
    grid-area: logo11;
}
.marca__hijo--12{
    grid-area: logo12;    
}

.animaciones {
    overflow: hidden;
}

.animaciones .marcas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animaciones:hover .marcas {
    animation-name: marcas;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes marcas {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

footer{
    background-image: url(../imagenes/fondo.png) ;
}
.final{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo__despedida{
    width: 200px;
    margin-left: 5rem;
}
.despedida__texto{
    margin-left: 250px;
    text-align: center;
    /* background-color: aqua; */
}


@media screen and (max-width: 1023px){
    .encabezado{
        flex-direction: column;
    }
    .encabezado__texto{
        font-weight: 600;
        font-size: 30px;   
    }
    .encabezado__imagen{
        width: 300px;
    }    
    .cuerpoinicio{
        flex-direction: column;
    }
    .texto{
        margin-top: 2rem;
        margin: 1rem;
    }
    .video{
        width: 100%;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5,100 px);
        text-align: center;
    }
    
    .marca-secundaria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6,100 px);
        text-align: center;   
    }

    .final{
        align-items: center;
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (max-width: 600px){
    .encabezado{
        flex-direction: column;
    }
    .encabezado__imagen{
        width: "300px"
    }
    .encabezado__texto{
        font-weight: 600;
        font-size: 30px;   
    }
    .cuerpoinicio{
        flex-direction: column;
    }
    .texto{
        margin-top: 1rem;
        margin: 1rem;
    }
    .video{
        width: 100%;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9,100 px);
        text-align: center;
    }
    
    .marca-secundaria{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12,100 px);
        text-align: center;   
    }

    .despedida__texto{
        display: none;
    }
}