.tarjetadeconsulta{
    margin-left: 150px;
    margin-right: 150px;
    @extend .sombras;
}

.representantes{
    align-items: center;
    margin: 50px;
    h2{
        margin-top: 3rem;
    }

    p{
        margin: 1rem;
    }
}
.nombres__1{
    @include elcolor(#5416);
}

.nombre__2{
    @include elcolor(#1111)
}

.nombre__3{
    @include elcolor(#687d)
}
