.tarjetadeconsulta{
    margin-left: 150px;
    margin-right: 150px;
    @extend .sombras;
}

.representantes{
    align-items: center;
    margin: 50px;
    h2{
        margin-top: 3rem;
    }

    p{
        margin: 1rem;
    }
}

@media (max-width: 1023px){

    .tarjetadeconsulta{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 600px){
   .tarjetadeconsulta{
       margin-left: 50px;
       margin-right: 50px;
   } 
}

