.final{
    background-image: url(../imagenes/fondo.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &__imagen{
        width: 200px;
        margin-left: 5rem;
    }

    &__texto{
        margin-left: 250px;
        text-align: center;
    }
}

@media (max-width: 1023px){
    .final{
        flex-direction: column;
    }
}

@media (max-width: 600px){
    .final__texto{
        display: none;
    }
}