 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
    background-image: url(../imagenes/fondodos.png);
}
  
h1{
    color: $colornaranja;
    text-align: center;
    font-weight: 600;
}

h2{
    text-align: center;
    font-weight: 400;
}

.sombras{
    border-radius: 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

@mixin elcolor($color){
    text-align: center;
    font-weight: 600;
    color: $color;
}

$boton: (
  botones__1: #55acee,
  botones__2: #c92d8f,
);

@each $nombre, $color in $boton {
  .#{$nombre} {
    background-color: $color;
    margin: 0 5px;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
  }
}