.marcos{
    margin: 5rem;
    @extend .sombras;
}

.botones{
    align-items: center;
    margin-top: 3rem;
    margin-left: 7rem;

    &__1{
        margin-right: 7rem;
    }
}

@media (max-width: 1023px){
    .marcos{
        margin: 3rem;
    }
}
@media (max-width: 600px){
    .botones{
        display: flex;
        flex-direction: column;
    }
    .marcos{
        margin: 2rem;
    }
}